Flask==1.1.2
pandas==1.2.2
sklearn==0.0
scikit-learn==0.24.2
matplotlib==3.3.4
imbalanced-learn==0.4.3
imblearn==0.0
nltk==3.2.5
numpy==1.19.5
seaborn==0.11.1
tqdm==4.41.1
pyAudioAnalysis
eyed3
allennlp==0.9.0
allennlp-models==2.4.0
python_speech_features
torch
wave
librosa
re
tensorflow
tensorflow_hub
Image
scipy
